@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.callToAction {
    padding: 70px 112px 0 112px;
}

.callToActionCard {
    width: 100%;
    height: 480px;
    border-radius: 24px;
    background-color: #9FBEDD;
}

.ctaContentContainer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.ctaContent {
    height: 306px;
    padding: 64px;
}

.ctaContent .heading,
.ctaContent .subheading {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

.ctaContent .heading {
    color: #fff;
}

.ctaContent .subheading {
    color: #0056AC;
    margin-bottom: 40px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.ctaContent .ctaBtn {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #101828;
    color: #fff;
}

.ctaDisplayContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.ctaDisplayContainer>img {
    height: 100%;
    position: absolute;
    bottom: -50px;
    right: -15px;
}

.feedbackCardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 26px;
}

.ctaDisplayContainer .feedbackCard {
    width: 320px;
    height: 72px;
    padding: 16px;
    margin-bottom: 14px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .feedbackCard#card0 {
    position: absolute;
    left: 2%;
    top: 23%;
    transition: top 1s ease-in-out;
}
.feedbackCard#card1 {
    position: absolute;
    left: 2%;
    top: 41%;
    transition: top 1s ease-in-out;
}
.feedbackCard#card2 {
    position: absolute;
    left: 2%;
    top: 59%;
    transition: top 1s ease-in-out;
}
.feedbackCard#card3 {
    position: absolute;
    left: 2%;
    top: 77%;
    transition: top 1s ease-in-out;
}

.ctaDisplayContainer .feedbackCard.active {
    background-color: aquamarine;
    position: absolute;
    top: 23%;
    left: 2%;
} */

.ctaDisplayContainer .feedbackCardContainer .feedbackCard .avatarContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #101828;
    overflow: hidden;
}

.feedbackCard .avatarContainer img.avatar {
    width: 100;
    height: 100%;
    object-fit: cover;
}

.ctaDisplayContainer .feedbackCardContainer .feedbackCard span {
    width: 86%;
    padding-left: 14px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}


@media only screen and (max-width: 576px) {
    .callToAction {
        padding: 32px 25px 0 25px;
    }

    .callToActionCard {
        height: 408px;
        border-radius: 14px;
        padding: 29px 23px;
        position: relative;
        overflow: hidden;
    }

    .callToActionCard div.row {
        display: flex;
        flex-direction: column;
    }

    .ctaContent {
        padding: 28px 28px 28px 0;
        height: 139.47px;
    }

    .ctaContent .heading,
    .ctaContent .subheading {
        font-size: 18px;
        line-height: 19px;
    }

    .ctaContent .subheading {
        margin-bottom: 17px;
    }

    .ctaContent .ctaBtn {
        padding: 8px 16px;
        font-size: 9px;
        line-height: 11px;
        border-radius: 3.5px;
    }

    .ctaDisplayContainer {
        height: 209px;
        position: static;
    }

    .ctaDisplayContainer>img {
        right: -80px;
        height: 75%;
    }

    .feedbackCardContainer {
        padding-bottom: 22px;
    }

    .ctaDisplayContainer .feedbackCard {
        width: 156px;
        height: 36px;
        padding: 8px;
        margin-bottom: 6px;
        border-radius: 4px;
    }

    .ctaDisplayContainer .feedbackCardContainer .feedbackCard .avatarContainer {
        width: 20px;
        height: 20px;
    }

    .ctaDisplayContainer .feedbackCardContainer .feedbackCard span {
        padding-left: 8px;
        font-size: 7px;
        line-height: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 993px) {
    .callToAction {
        padding: 39px 65px 0 65px;
    }

    .callToActionCard {
        height: 278px;
        border-radius: 14px;
    }

    .ctaContent {
        height: 177px;
        padding: 37px;
    }

    .ctaContent .heading,
    .ctaContent .subheading {
        font-size: 24px;
        line-height: 26px;
    }

    .ctaContent .subheading {
        margin-bottom: 23px;
    }

    .ctaContent .ctaBtn {
        padding: 7px 12px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 4.63px;
    }

    .ctaDisplayContainer>img {
        right: -80px;
    }

    .feedbackCardContainer {
        padding-bottom: 12px;
    }

    .ctaDisplayContainer .feedbackCard {
        width: 185px;
        height: 43px;
        padding: 9.3px;
        margin-bottom: 8px;
        border-radius: 5px;
        transform: translateY(0);
        transition: transform 1s ease-in-out;
    }

    .ctaDisplayContainer .feedbackCardContainer .feedbackCard .avatarContainer {
        width: 23px;
        height: 23px;
    }

    .ctaDisplayContainer .feedbackCardContainer .feedbackCard span {
        width: 86%;
        padding-left: 10px;
        font-size: 8px;
        line-height: 12px;
    }
}