.backgroundColor {
    background-color: #fdfaf5 !important;
}

.heroContainer {
    height: 870px;
    width: 100vw;
}

.heroSubContainer {
    position: relative;
    background-color: transparent;
    background-image: url('../../assets/home/image/png/circlePattern.png');
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

/* Hero Image */
#heroImageContainer {
    overflow: hidden;
    width: 590px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: top 1.5s ease-in-out, opacity 2s ease-in-out;
}

.heroImage {
    width: 100%;
    height: 100%;
}

/* Rising Your Mind */
#risingYourMind {
    position: absolute;
    top: 213px;
    left: -18.9%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: left 1.5s ease-in-out, opacity 2s ease-in-out;
}
.risingYourMindCard {
    width: 217px;
    height: 160px;
    background-color: #FFD8B3;
    color: #C65F00;
    padding: 30px 27px 29px 29px;
    border-radius: 20px;
}
.risingYourMindCard > .text {
    margin-bottom: 17px;
    font-weight: 20px;
    font-weight: 600;
}
#stat {
    margin-bottom: 5px;
    text-align: end;
    font-weight: 16px;
    font-weight: 600;
}
.indicator {
    position: relative;
    margin: 0;
    height: 6px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
}
#progressbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 6px;
    background-color: #C65F00;
    border-radius: 4px;
}


/* Depression */
#depresssionCardContainer {
    position: absolute;
    top: -150px;
    left: 37.5%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: top .7s ease-in-out, opacity 2s ease-in-out;
}
.depresssionCard {
    width: 217px;
    height: 51px;
    border-radius: 60px;
    background-color: #79BFFF;
    padding: 12px 32px;
    text-align: center;
    vertical-align: baseline;
}
.depresssionCard > .text {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    vertical-align: baseline;
}
.depresssionCardIcon {
    color: #045FA0;
    font-size: 20px;
    font-weight: 600;
}

/* Boosting Energy by 100%  */
#boostingEnergyCardContainer {
    position: absolute;
    top: 91px;
    left: 62.4%;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
    transition: scale .8s ease-in-out, opacity 1.5s ease-in-out;
}
.boostingEnergyCard {
    width: 267px;
    height: 144px;
    border-radius: 20px;
    background-color: #FFF2C4;
    padding: 30px 38px 22px 35px;
    text-align: center;
    vertical-align: baseline;
}
.boostingEnergyCard > .text {
    text-align: start;
    margin-bottom: 14px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.energyBarContainer {
    width: 100%;
    height: 25px;
    border: solid 1px #FFE090;
    border-radius: 6px;
}
#energyBar {
    width: 0;
    height: 25px;
    background-color: #fdd570;
    border-radius: 6px;
    transition: width .8s ease-in-out;
}






